name: Testing

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

jobs:
    node:
        name: Node ${{ matrix.node }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                # https://github.com/nodejs/Release#release-schedule
                node:
                    - 20
                    - 22
                    - 24
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup environment
              uses: ./.github/actions/setup
              with:
                  node-version: ${{ matrix.node }}

            - name: Build packages
              run: just build

            - name: Run tests
              run: just test
